@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
::selection {
    background: #233d84;
    color: #ffffff;
}

body {
    margin: 0;
    min-height: 100vh;
}

nav a {
    color: inherit;
    text-decoration: none;
}

a img {
    vertical-align: middle;
}



/* --------------------------------------------
   * 헤더 디자인 */
.app-header {
    position: fixed;
    z-index: 600;
    top: 0;
    left: 0;
    right: 0;
    display: fixed;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.4);
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}



   /* 메인 디자인 */
.app-main {
    margin-top: 90px;
    max-width: 960px;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

@media screen and (min-width: 960px) {
    .app-main {
        margin-left: auto;
        margin-right: auto;
    }
}

/* 메뉴 디자인 */
.toast-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.toast-menu__item {
    position: relative;
    flex: 1 1 40%;
    margin: 10px 10px;
}

.toast-menu__item a {
    display: block;
    background:white; 
    /* text-decoration: none; */
    text-decoration: overline;
    color: #464646;
}

.toast-menu__item figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.toast-menu__item img {
    user-select: none;
    max-width: 330px;
    min-width: 240px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.85);
    transition: all 0.4s ease;
}

.toast-menu__item a:hover img {
    transform: scale(1.18);
}

.toast-menu__item figcaption {
    margin-top: -5px;
    margin-bottom: 25px;
}

.toast-menu__item--detail {
    opacity: 0;
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #e0e0e0;
    padding: 30px 20px;
    background: rgba(255, 255, 255, 0.6);
    transition: all 0.6s ease;
}

.toast-menu__item--detail.is-active {
    opacity: 1;
}

.toast-menu__item--name {
    display: block;
    border-bottom: solid 2px #202023;
    padding-bottom: 1em;
    font-weight: 400;
    font-size: 18px;
    color: #202022;
}

.toast-menu__item--name span {
    display: block;
    font-size: 14px;
    color: #939394;
}

.toast-menu__item--detail p {
    line-height: 1.6;
    font-size: 13px;
}

.toast-menu__item--multi-column {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    column-gap: 20px;
    column-fill: auto;
    column-rule: 1px solid #aaa;
    padding: 1em 1.5em;
    background: #f8f8f8;
}

.toast-menu__item--multi-column.is-2 {
    column-count: 2;
}

.toast-menu__item--multi-column p {
    margin: 0;
}

.toast-menu__item--multi-column span {
    display: block;
}

.toast-menu__item--detail .button.is-close-panel {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 15px;
    font-size: 24px;
    background: transparent;
    transition: all 0.3s ease;
}

.toast-menu__item--detail .button.is-close-panel:hover {
    background: #f3f3f3;
}

/* --------------------------------------------
   * 공통 클래스 */
.reset-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.button {
    cursor: pointer;
    border: none;
}

.a11y-hidden {
    overflow: hidden;
    position: absolute !important;
    top: -9999em;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
/* -------------------------- */
:root {
    --color-beige:#f6f5ee;
    --color-font-black: #333;
    --color-font-light-black: #555;
    --color-font-green: #669900;
    --temp-border :solid 0px black;
    --font-family : normal Avenir, Arial, georgia;
}

* {
    margin: 0;
  
    padding: 0;
    color:var(--color-font-black);
    font-family: var(--font-family);
}
header{
    border-top: solid 2px black;
    background: var(--color-beige);
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
header .head-wrap .head-wrap-inner .search-btn{
    position: absolute;
    top:10px;
    right: 40px;
    background: white;
    border: solid 1px gray;
    border-radius: 5px;
    width:34px;
    height: 34px;
}
header .head-wrap .head-wrap-inner .search-btn img{
    position: absolute;
    top: 7px;
    left: 7px;
}
header .head-wrap{

    border:var( --temp-border);
    height: 120px;
    width: 1100px;
   
}

header .head-wrap .head-wrap-inner{
    height: 120px;
    width: 1100px;
    position: relative;
    border:var( --temp-border);
}
header .head-wrap .head-wrap-inner .head-logo{
    position: absolute;
    top:20px;
    width:75px;
    height:75px;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav{
    position: absolute;
    left:552px;
    top:21px;

    

}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul{
    list-style: none;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul li{
    float: left;
    color: var( --color-font-light-black);
    font-size: 13px;
    text-align: center;
    height: 20px;
  
    border:var( --temp-border);

}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul li a{
    text-decoration: none;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul li a:hover{
    text-decoration: underline;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul .top-nav01
{
    width:76px;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul .top-nav02
{
    width:106px;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul .top-nav03
{
    
    width:181px;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul .top-nav04
{
  
    width:97px;
}
header .head-wrap-sub{
    position: absolute;
    top:60px;
    width: 1100px;
    height: 66px;
    border:var( --temp-border);
}
header .head-wrap-sub{
    display: flex;
    justify-content: flex-end;
    

}
header .head-wrap-sub ul{
   list-style: none;
   width: 737px;
    display: flex;
    justify-content:space-between;
 
    border:var( --temp-border);
   
}
header .head-wrap-sub ul li{
    text-align: left;
    flex: auto;
    
}
header .head-wrap-sub ul li a{
    text-decoration: none;
    display: block;

    border:var( --temp-border);
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 10px;
    height: 66px;
} 
header .head-wrap-sub ul li a:hover{
    text-decoration: underline;
    color:var( --color-font-green);
}